.blogList-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    padding-left: 8%;
    padding-right: 8%;
    justify-content: center ;
    width: 80%;
    grid-gap: 0;
    padding-bottom: 10rem;
  }
  
  @media (max-width: 768px) {
    .blogList-wrap {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .blogList-wrap {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
.blogItem-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
