@media screen and (min-width: 1270px) {
  .header-container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100%;
    gap: 11rem;

    border-bottom: 1px solid #e6e1de;

    /* background: #d2b298; */
    color: #e6e1de;

    clear: both;
    position: fixed;
    z-index: 9999;
    top: 0;
  }

  .header-container-active {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100%;
    gap: 11rem;

    border-bottom: 1px solid black;

    background: #e6e1de;
    color: #080604;

    clear: both;
    position: fixed;
    z-index: 9999;
  }

  .header-button {
    display: none;
  }

  .blank {
    opacity: 0;
    width: 5rem;
  }

  .wrapper {
    display: flex;
    cursor: pointer;

    font-weight: 400;
    font-size: 1rem;
  }

  .header-pages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 6.5rem;

    font-weight: 400;
    font-size: 1rem;
  }

  .header-pages li {
    font-family: Montserrat;
  }

  li {
    cursor: pointer;
    line-height: 20px;
  }

  .pop-up-button {
    position: relative;
  }

  .pop-up-content {
    position: absolute;
    display: none;
    right: -36px;
    list-style: none;
    width: 173px;
    gap: 10px;
    border-radius: 12px;
    padding: 0;
  }

  .pop-up-content li {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #8b7f6e;
    font-weight: 500;
    background-color: #e6e1de;
  }

  .pop-up-button:hover .pop-up-content {
    display: block;
    background-color: white;
    position: absolute;
    z-index: 1;
  }

  .pop-up-content li:hover {
    background-color: grey;
    color: black;
  }

  .pop-up-content li:first-child {
    border-radius: 12px 12px 0 0;
  }

  .pop-up-content li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .projects-pop-up {
    width: 300px;
  }
}

@media screen and (max-width: 1270px) and (min-width: 840px) {
  .header-container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100%;
    gap: 11rem;

    border-bottom: 1px solid #e6e1de;

    /* background: #d2b298; */
    color: #e6e1de;

    clear: both;
    position: fixed;
    z-index: 9999;
    top: 0;
  }

  .header-container-active {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100%;
    gap: 11rem;

    border-bottom: 1px solid black;

    background: #e6e1de;
    color: #080604;

    clear: both;
    position: fixed;
    z-index: 9999;
  }

  .header-button {
    display: none;
  }

  .blank {
    opacity: 0;
    width: 5rem;
  }

  .wrapper {
    display: flex;
    cursor: pointer;

    font-weight: 400;
    font-size: 1rem;
  }

  .header-pages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 5rem;

    font-weight: 400;
    font-size: 0.8rem;
  }

  .header-pages li {
    font-family: Montserrat;
  }

  li {
    cursor: pointer;
    line-height: 20px;
  }

  .pop-up-button {
    position: relative;
  }

  .pop-up-content {
    position: absolute;
    display: none;
    right: -45.5px;
    list-style: none;
    width: 173px;
    gap: 10px;
    border-radius: 12px;
    padding: 0;
  }

  .pop-up-content li {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #8b7f6e;
    font-weight: 500;
    background-color: #e6e1de;
  }

  .pop-up-button:hover .pop-up-content {
    display: block;
    background-color: white;
    position: absolute;
    z-index: 1;
  }

  .pop-up-content li:hover {
    background-color: grey;
    color: black;
  }

  .pop-up-content li:first-child {
    border-radius: 12px 12px 0 0;
  }

  .pop-up-content li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .projects-pop-up {
    width: 300px;
  }

  .blank {
    display: none;
  }
}

@media screen and (max-width: 840px) and (min-width: 500px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 20px;

    border-bottom: 1px solid #e6e1de;
    color: #e6e1de;

    clear: both;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-sizing: border-box;
  }

  .header-container-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 20px;

    border-bottom: 1px solid black;

    background: #e6e1de;
    color: #080604;

    clear: both;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;
  }

  .header-logo {
  }

  .header-button {
    cursor: pointer;
  }

  .header-content {
    position: relative;
  }

  .header-content:hover .header-pages {
    background-color: #e6e1de;
    color: #8b7f6e;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 500;
    font-size: 0.8rem;
  }

  .header-pages {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    text-align: right;
    border-radius: 12px;
    border: 1px solid black;
  }

  .header-pages li {
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
  }

  .header-pages li:first-child {
    border-radius: 12px 12px 0 0;
  }

  .header-pages li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .header-content:hover .header-pages li:hover {
    background-color: grey;
    color: black;
  }

  .blank {
    opacity: 0;
    width: 5rem;
  }

  .wrapper {
    display: flex;
    cursor: pointer;

    font-weight: 400;
    font-size: 1rem;
  }

  .header-pages li {
    font-family: Montserrat;
  }

  li {
    cursor: pointer;
    line-height: 20px;
  }

  .pop-up-button {
    position: relative;
  }

  .pop-up-content {
    position: absolute;
    left: -173px;
    display: none;
    width: 173px;
    gap: 10px;
    border-radius: 12px;
    list-style: none;
    padding: 0;
  }

  .pop-up-content li {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #8b7f6e;
    font-weight: 500;
    background-color: #e6e1de;
  }

  .pop-up-button:hover .pop-up-content {
    display: block;
    background-color: white;
    position: absolute;
    z-index: 1;
  }

  .pop-up-content li:hover {
    background-color: grey;
    color: black;
  }

  .pop-up-content li:first-child {
    border-radius: 12px 0 0 0;
  }

  .pop-up-content li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .projects-pop-up {
    left: -300px;
    width: 300px;
  }

  .blank {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 20px;

    border-bottom: 1px solid #e6e1de;
    color: #e6e1de;

    clear: both;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-sizing: border-box;
  }

  .header-container-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 20px;

    border-bottom: 1px solid black;

    background: #e6e1de;
    color: #080604;

    clear: both;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;
  }

  .header-logo {
  }

  .header-button {
    cursor: pointer;
  }

  .header-content {
    position: relative;
  }

  .header-content:hover .header-pages {
    background-color: #e6e1de;
    color: #8b7f6e;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 500;
    font-size: 0.8rem;
  }

  .header-pages {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    text-align: right;
    border-radius: 12px;
    border: 1px solid black;
  }

  .header-pages li {
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
  }

  .header-pages li:first-child {
    border-radius: 12px 12px 0 0;
  }

  .header-pages li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .header-content:hover .header-pages li:hover {
    background-color: grey;
    color: black;
  }

  .blank {
    opacity: 0;
    width: 5rem;
  }

  .wrapper {
    display: flex;
    cursor: pointer;

    font-weight: 400;
    font-size: 1rem;
  }

  .header-pages li {
    font-family: Montserrat;
  }

  li {
    cursor: pointer;
    line-height: 20px;
  }

  .pop-up-button {
    position: relative;
  }

  .pop-up-content {
    position: absolute;
    left: -130px;
    display: none;
    width: 130px;
    gap: 10px;
    border-radius: 12px;
    list-style: none;
    padding: 0;
  }

  .pop-up-content li {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #8b7f6e;
    font-weight: 500;
    background-color: #e6e1de;
  }

  .pop-up-button:hover .pop-up-content {
    display: block;
    background-color: white;
    position: absolute;
    z-index: 1;
  }

  .pop-up-content li:hover {
    background-color: grey;
    color: black;
  }

  .pop-up-content li:first-child {
    border-radius: 12px 0 0 0;
  }

  .pop-up-content li:last-child {
    border-radius: 0 0 12px 12px;
  }

  .blank {
    display: none;
  }
}
