.project-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 7rem;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2rem;
}

.project-goBack {
  width: 100%;
  text-decoration: none;
}

.project-top {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1rem;
  color: #3D290D;
  gap: 1rem;
  padding-top: 3rem;
}

.images {
  position: static;
}